*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 50%;
    height: 40vh;
    background-color: rgba(0, 255, 213, 0.08); /* fundo mais escuro/transparente */
    margin-left: 25%;
    margin-top: 15%;
    border: 1px solid #00ffd5;
    box-shadow: 
        0 0 5px #00ffd5,
        0 0 15px rgba(0, 255, 213, 0.6),
        0 0 30px rgba(0, 255, 213, 0.3),
        inset 0 0 10px rgba(0, 255, 213, 0.2);
}

h1{
    margin-left: 35%;
    color: #00ffd5;
    text-shadow: 
        0 0 5px #00ffd5,
        0 0 10px rgba(0, 255, 213, 0.8),
        0 0 20px rgba(0, 255, 213, 0.5);
}

button{
    height: 3vh;
    width: 15%;
    border-radius: 2px;
    margin-top: 20%;
    margin-left: 40%;
    background-color: transparent;
    color: #00ffd5;
    border: 1px solid #00ffd5;
}


p{
    margin-left: 25%;
    margin-top: 5%;
    color: #000000;
}

#contador{
    width: 16%;
    height: 2vh;
    margin-left: 40%;
    color: #00ffd5;
}